/* start reset css*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
    outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type=search] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */

[hidden] {
    display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
    font-size: 100%; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
    outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
    outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */

img {
    border: 0; /* 1 */
    -ms-interpolation-mode: bicubic; /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */

figure {
    margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */

form {
    margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */

legend {
    border: 0; /* 1 */
    padding: 0;
    white-space: normal; /* 2 */
    *margin-left: -7px; /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */

button,
input,
select,
textarea {
    font-size: 100%; /* 1 */
    margin: 0; /* 2 */
    vertical-align: baseline; /* 3 */
    *vertical-align: middle; /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
    line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
    text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
    *overflow: visible;  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
    cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
    *height: 13px; /* 3 */
    *width: 13px; /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}

/**
 * Remove most spacing between table cells.
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html,
button,
input,
select,
textarea {
    color: #222;
}


::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
/* end reset css*/

/* roboto-100 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    src: local(''),
         url('../../assets/fonts/roboto-v30-latin-100.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../../assets/fonts/roboto-v30-latin-100.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* roboto-regular - latin */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../../assets/fonts/roboto-v30-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../../assets/fonts/roboto-v30-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* roboto-500 - latin */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: local(''),
         url('../../assets/fonts/roboto-v30-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../../assets/fonts/roboto-v30-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* roboto-700 - latin */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../../assets/fonts/roboto-v30-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../../assets/fonts/roboto-v30-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* roboto-900 - latin */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: local(''),
         url('../../assets/fonts/roboto-v30-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../../assets/fonts/roboto-v30-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  html{
    box-sizing: border-box;
  }
  *, *::before, *::after{
    box-sizing: inherit;
  }
  .wrapper{
    max-width: 1160px;
    margin: 0 auto;
  }

  /* Header styles start */

  .header{
    background: #000000;
    backdrop-filter: blur(2px);
    position: absolute;
    width: 100%;
  }
  .header_wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 14px;
    padding-bottom: 14px;
  }
  .header_logo{
    width: 82px;
    height: 52px;
    border: 1px solid #FFFFFF;
    border-radius: 2px;
    display: flex;
    align-items: center;
    position: relative;
  }
  .header_logo_link{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 19.0145px;
    line-height: 120%;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
  }
  .header_logo_svg{
    position: absolute;
    top:22.24px;
    left: 9.23px;
  }
  .header_list{
    display: flex;
    flex-wrap: wrap;
  }
  .header_item{
    margin-left: 58px;
  }
  .header_item:last-child{
    margin-left: 438px;
  }
  .header_link{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
    text-decoration: none;
  }
  ul#menu a#active{
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .header_link:hover, .header_link:active {
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .header_burger {
    width: 18px;
    height: 10px;
    position: relative;
    display: none;
  }
  .burger_line {
    display: block;
    width: 18px;
    height: 2px;
    background: #FFFFFF;
    border-radius: 2px;
    position: absolute;
    left: 0;
  }
  .burger_line_first {
    top: 0px
  }
  .burger_line_second {
    top: 4px;
  }
  .burger_line_third {
    bottom: 0px;
  }

    /* Header styles end */

  .intro{
    height: 390px;
    background: url(../../assets/images/Giant_Panda.png) no-repeat center;
    background-size: cover;
    transform: translateY(80px);
  }
  .pick_and_feed{
    min-height: 1562px;
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
  }
  .help_zoo_title{
    padding-top: 120px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
    color: #FFFFFF;
  }
  .help_zoo_descrip{
    padding-top: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;  
    color: #FFFFFF;
  }
  .donation_title{
    padding-top: 40px;
    padding-bottom: 60px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
    color: #FE9013;
  }
  .pick_and_feed_div{
    background: rgba(255, 255, 255, 0.52);
    backdrop-filter: blur(2px);
    border-radius: 20px;
  }
  .pick_and_feed_title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    text-align: center;
    color: #FE9013;
    padding-top: 41px;
    padding-bottom: 20px;
  }
  .pick_and_feed_text_f{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    color: #333B41;
    margin-left: 92px;
    padding-bottom: 60px;
  }
  .wedget{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-bottom: 48px;
  }
  .wedget_title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 72px;
    line-height: 80%;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 11px;
  }
  .wedget_subtitle{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    color: #333B41;
  }
  .wedget_sing{
    margin-left: 11px;
    margin-right: 64px;
  }
  .amount_title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #000000;
    padding-bottom: 10px;
    margin-left: 96px;
  }
  .amount_wrap{
    position: relative;
    cursor: pointer;
  }
  .amount_div{
    width: 976px;
    height: 27px;
    position: relative;
    margin: 0 auto;
    background: #404950;
    border-radius: 2px;
  }
  .amount_line{
    width: 915px;
    height: 2px;
    background: #72828E;
    position: absolute;
    top: 12px;
    left: 31px;
  }
  .amount_circ_list{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 8px;
    left: 26px;
  }
  .amount_circ{
    width: 10px;
    height: 10px;
    background: #FFEE2E;
    border-radius: 50%;
    margin-right: 120px;
  }
  .amount_circ:last-child{
    margin-right: 0px;
  }
  .amount_border{
    position: absolute;
    top: 1.5px;
    left: 372px;
    width: 22.95px;
    height: 22.95px;
    background: transparent;
    border: 1px solid #FE9013;
    border-radius: 50%;
    z-index: 2;
  }
  .amount_border2{
    position: absolute;
    top:-6px;
    left: 363px;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 1px solid #FE9013;
    border-radius: 50%;
    z-index: 2;
  }
  .amount_list{
    margin-top: 6px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
  }
  .amount_item{
    margin-right: 62px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 140%;
    text-transform: uppercase;
    color: #333B41;
  }
  .amount_item:last-child{
    margin-left: 20px;
    margin-right: 10px;
  }
  ul#menu1 li#active1{
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .form_amount{
    position: relative;
  }
  .amount_input{
    width: 268px;
    height: 54px;
    padding-left: 9px;
    background: transparent;
    border: 1px solid #929699;
    border-radius: 2px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #929699;
    margin-left: 446px;
  }
  .amount_input_img{
    position: absolute;
    top:17px;
    left: 694px;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .form_radio{
    margin-top: 25px;
    margin-left: 474px;
  }
  .amount_input_radio{
    margin-right: 10px;
    margin-left: 50px;
  }
  .amount_input_radio:first-child{
    margin-left: 0px;
  }
  input.amount_input_radio{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid #FE9013;
  }
  input:checked {
    border: 6px solid #FE9013;
  }
  .amount_button{
    width: 298px;
    height: 54px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 25px;
    border: none;
    margin-top: 31px;
    margin-left: 434px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
  }
  .amount_button:hover{
    background: #E47209;
  }
  .amount_button:active{
    background: #4B9200;
  }
  .amount_button:disabled{
    background: #767474;
  }
  .amount_text{
    padding-top: 30px;
    padding-bottom: 62px;
    padding-left: 432px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #333B41;
  }

   /* Footer styles start */

   .footer{
    background: #111115;
    width: 100%;
  }
  .footer_wrapper{
   display: flex;
   flex-wrap: wrap;
   padding-top: 40px;
  }

  .footer_div{
    margin-top: 112px;
    margin-bottom: 50px;
  }
  .footer_wrapper_lastline{
    display: flex;
    align-items: flex-end;
    padding-bottom: 50px;
  }
  .footer_btn_donate{
    width: 298px;
    height: 54px;
    width: 298px;
    height: 54px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 5px;
    border: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 36px;
    margin-bottom: 44px;
  }
  .footer_btn_donate:hover{
    background: #E47209;
  }
  .footer_btn_donate:active{
    background: #4B9200;
  }
  .footer_btn_donate:disabled{
    background: #767474;
  }
  .footer_link{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-decoration: none;
    padding-bottom: 10px;
  }
  .footer_link:last-child{
    padding-bottom: 0px;
  }
  .footer_link_cir{
    width: 26px;
    height: 26px;
    background: rgba(196, 196, 196, 0.5);
    border-radius: 50%;
    border: none;
    text-align: center;
  }
  .footer_link_icon{
    padding-top: 6px;
  }
  .footer_link_text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
    margin-left: 12px;
  }
  .footer_link:hover .footer_link_cir{
    background: #4B9200;
  }
  .footer_link:hover .footer_link_text{
    color: #4B9200;
  }
  .footer_list{
    display: flex;
    flex-wrap: wrap;
  }
  .footer_item{
    margin-left: 58px;
  }
  .footer_item:first-child{
    margin-left: 289px;
  }
  .footer_item_link{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
    text-decoration: none;
  }
  .footer_item_link:hover, .footer_item_link:active {
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .subscribe{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    color: #FFFFFF; 
    margin-bottom: 14px;
  }
  .footer_div_input{
    margin-left: 495px
  }
  .footer_input{
    width: 228px;
    height: 42px;
    background: transparent;
    border: 1px solid #F9804B;
    border-radius: 5px;
  }
  .footer_input::placeholder{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #BDBDBD;
    padding-left: 10px;
  }
  .footer_input_btn{
    width: 129px;
    height: 42px;
    border: 1px solid #4B9200;
    border-radius: 5px;
    margin-left: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #4B9200;
  }
  .footer_div_link{
    margin-top: 84px;
    margin-left: 162px;
  }
  .footer_link_desing{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    font-size: 16px;
    line-height: 130%;
    color: #FFFFFF;
    text-decoration: none;
  }
  .footer_link_desing:active{
    color: #4B9200;
    text-decoration: underline
  }

  /* Footer styles end */

  @media screen and (max-width:1159px) {
    .wrapper{
      max-width: 940px;
    }
    .header_item{
      margin-left: 48px;
    }
    .header_item:last-child{
      margin-left: 259px;
    }
    .header{
      z-index: 1;
    }
    .help_zoo_descrip{
      padding-top: 30px;
    }
    .help_zoo_title{
      max-width: 778px;
    }
    .donation_title{
      padding-bottom: 40px;
    }
    .pick_and_feed_title{
      padding-top: 20px;
      padding-bottom: 10px;
    }
    .pick_and_feed_text_f{
      margin-left: 47px;
      margin-right: 44px;
    }
    .amount_title{
      margin-left: 65px;
    }
    .amount_div{
      width: 810px;
      height: 27px;
    }
    .amount_line{
      width: 785px;
      left: 16px;
    }
    .amount_circ:last-child{
      display: none;
    }
    .amount_circ:nth-last-child(2){
      margin-right: 0px;
    }
    .amount_circ_list{
      left: 10px;
    }
    .amount_item:first-child{
      display: none;
    }
    .amount_border{
      left: 199px;
    }
    .amount_border2{
      left: 190px;
    }
    .amount_input{
      margin-left: 336px;
    }
    .amount_input_img{
      left: 584px;
    }
    .form_radio{
      margin-left: 363px;
    }
    .amount_button{
      margin-left: 323px;
    }
    .amount_text{
      padding-left: 321px;
      padding-bottom: 46px;
    }
    .pick_and_feed{
      min-height: 1413px;
    }
    .footer_item{
      margin-left: 48px;
    }
    .footer_item:first-child{
     margin-left: 180px;
    }
    .footer_div_link{
      margin-left: 85px;
    }
    .footer_div_input{
      margin-left: 245px;
    }
    .footer_btn_donate{
      margin-top: 68px;
    }
  }
  @media screen and (max-width:940px) {
    .header_nav{
      display: none;
    }
    .header_burger{
      display: block;
    }
    .wrapper{
      max-width: 600px;
    }
    .intro{
      height: 335px;
    }
    .header{
      position: fixed;
      z-index: 11;
    }
    .header_nav{
      display: none;
    }
    .header_burger{
      display: block;
    }
    .header_wrapper{
      padding-top: 2.5px;
      padding-bottom: 2.5px;
    }
    .header_logo{
      border: none;
      width: 46.93px;
      height: 29.03px;
    }
    .header_logo_svg{
      height: 13.56px;
      top: 12.24px;
      left: 4.23px;
    }
    .header_logo_link{
      font-size: 12px;
    }
    .intro{
      transform: none;
    }
    .help_zoo_title{
      padding-top: 30px;
      font-size: 24px;
      line-height: 120%;
    }
    .help_zoo_descrip{
      padding-top: 20px;
    }
    .donation_title{
      padding-top: 30px;
      padding-bottom: 30px;
    }
    .pick_and_feed_title{
      padding-top: 30px;
      padding-bottom: 20px;
    }
    .pick_and_feed_text_f{
      text-align: center;
      padding-bottom: 50px;
    }
    .amount_title{
      padding-bottom: 0px;
    }
    .amount_div{
      width: 600px;
    }
    .amount_line{
      width: 524px;
      left: 41px;
    }
    .amount_circ:nth-last-child(-n+3){
      display: none;
    }
    .amount_circ:nth-child(5){
      margin-right: 0px;
    }
    .amount_circ_list{
      left: 41px;
    }
    .amount_border{
      left: 294px;
    }
    .amount_border2{
      left: 285px;
    }
    .amount_item:nth-child(-n+3){
      display: none;
    }
    .amount_input{
      width: 180px;
      height: 42px;
      margin-left: 210px;
    }
    .amount_input_img{
      left: 370px;
      top: 11px;
    }
    .form_radio{
      margin-top: 31px;
      margin-left: 192px;
    }
    .amount_button{
      margin-left: 152px;
    }
    .amount_text{
      padding-left: 150px;
      padding-bottom: 30px;
    }
    .pick_and_feed{
      min-height: 1333px;
    }
    .footer_div_input{
      display: none;
    }
    .footer_link_text{
      display: none;
    }
    .footer_link_wrapper{
      margin-left: 276px;
    }
    .footer_item:first-child{
      margin-left: 0px;
    }
    .footer_div_link{
      margin-left: 68px;
      margin-top: 48px;
    }
    .footer_item{
      margin-left: 37px;
    }
    .footer_div{
      margin-top: 70px;
      margin-bottom: 12px;
    }
    .footer_wrapper{
      padding-top: 12px;
    }
    .footer_btn_donate{
      margin-top: 32px;
      margin-bottom: 0px;
    }
    .header_logo:nth-last-of-type(1){
      width: 82px;
      height: 52px;
      border: 1px solid #FFFFFF;
    }
    .footer_line .header_logo .header_logo_link{
      font-size: 19.0145px;
    }
    .footer_line .header_logo .header_logo_link .header_logo_svg{
      top: 22.24px;
      left: 9.23px;
      height: 20.98px;
    }
    .footer_link{
      padding-bottom: 20px;
    }
  }
  @media screen and (max-width:599px) {
    .wrapper{
      max-width: 300px;
    }
    .intro{
      height: 187px;
    }
    .donation_title{
      font-size: 24px;
      line-height: 120%;
    }
    .pick_and_feed_title{
      padding-top: 20px;
      font-size: 24px;
    }
    .pick_and_feed_text_f{
      font-size: 16px;
      line-height: 140%;
      margin-left: 0px;
      margin-right: 0px;
      width: 300px;
    }
    .wedget_img{
      width: 160.15px;
      height: 138.72px;
    }
    .wedget_sing{
      width: 7.89px;
      height: 7.89px;
      margin-right: 36px;
      margin-left: 6px;
    }
    .wedget_title{
      font-size: 36px;
      margin-bottom: 6px;
    }
    .wedget_subtitle{
      font-size: 9.02255px;
    }
    .amount_div{
      width: 300px;
      height: 13.5px;
      border-radius: 1px;
    }
    .amount_line{
      width: 262px;
      height: 1px;
      top: 6.75px;
      left: 20.5px;
    }
    .amount_circ{
      width: 5px;
      height: 5px;
      margin-right: 60px;
    }
    .amount_circ_list{
      top:4px;
      left: 20.5px;
    }
    .amount_title{
      margin-left: 0px;
    }
    .amount_border{
      left: 142px;
      top: -4px;
    }
    .amount_border2{
      left: 133px;
      top: -12px;
    }
    .amount_item{
      font-size: 13px;
      margin-right: 32px;
    }
    .amount_input{
      margin-left: 61px;
    }
    .amount_input_img{
      left: 221px;
    }
    .amount_list{
      padding-bottom: 25px;
    }
    .form_radio{
      margin-top: 15px;
      margin-left: 41px;
    }
    .amount_button{
      margin-left: 1px;
    }
    .amount_text{
      padding-left: 0px;
      font-size: 15.98px;
    }
    .pick_and_feed{
      min-height: 1238px;
    }
    .header_logo:nth-last-of-type(1){
      border: none;
      width: 128px;
      height: 23px;
      margin-left: auto;
      margin-right: auto;
    }
    .footer_line .header_logo .header_logo_link .header_logo_svg{
      top: -3px;
      left: 72.23px;
    }
    .footer_wrapper{
      padding-top: 20px;
    }
    .footer_btn_donate{
      margin-top: 86px;
    }
    .footer_link:last-child{
      padding-bottom: 10px;
    }
    .footer_link_wrapper {
      margin-left: 0px;
      position: absolute;
      display: flex;
      top: 73px;
    }
    .footer_wrapper{
      position: relative;
    }
    .footer_link{
      margin-right: 30px;
    }
    .footer_link:first-child{
      margin-left: 53px;
    }
    .footer_div{
      margin-top: 30px;
      margin-bottom: 20px;
      order: 5;
    }
    .footer_div_link{
      margin-top: 30px;
    }
  }